__pycache__/
dist/*
assets/openrussian_public
assets/dictionary
assets/opr
assets/zaliz/index
assets/zaliz/prefix
assets/dict.json
assets/term_bank_0.json
assets/zaliznyak-prefix-index.json
assets/zaliznyak-index.json
assets/*.zip